@import "../lib/bootstrap/less/bootstrap.less";
@import "./bootswatch.less";
@import "./variables.less";
@import (less) "../lib/angular-loading-bar/build/loading-bar.css";
@import (less) "../lib/AngularJS-Toaster/toaster.css";

@import "./customizations/loading-bar.less";
@import "./customizations/date-picker.less";

@icon-font-path: "../../../img/";

.panel{
	border-radius: 5px;
}

.ace-editor{
  height:400px;
}

.navbar{
  background-color:#CC2614;
}

.ace_print-margin{
  display:none !important;
}
 
.col-center-block {
  float: none !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.panel-acorn{
  margin-bottom:0px;
}

#editAccordion{
  padding:0px;
}

.panel{
  border:none;
}

#editAccordion .panel-group{
  margin-bottom:0px;
}

#editAccordion .list-group{
  margin:0px;
}

#editAccordion .panel-body{
  padding:0px;
  border:none;
}

#editAccordion .list-group-item{
  border:none;
}

.file-name{
  padding-left:2px;
  word-wrap:break-word;
}










.fadein{
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}