@import "../lib/bootstrap/less/bootstrap.less";
@import "./bootswatch.less";
@import "./variables.less";
@import (less) "../lib/angular-loading-bar/build/loading-bar.css";
@import (less) "../lib/AngularJS-Toaster/toaster.css";

@import "./customizations/loading-bar.less";
@import "./customizations/date-picker.less";

@icon-font-path: "../../../img/";

.panel{
	border-radius: 5px;
}

.ace-editor{
  height:400px;
}

.navbar{
  background-color:#CC2614;
}

.ace_print-margin{
  display:none !important;
}
 
.col-center-block {
  float: none !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.panel-acorn{
  margin-bottom:0px;
}

#editAccordion{
  padding:0px;
}

.panel{
  border:none;
}

#editAccordion .panel-group{
  margin-bottom:0px;
}