<div class="container">
    <div class="row">
        <div class="col-sm-12 brd">
            < back
        </div>
        <div class="col-sm-12">
            <h1 class="col-center-block">
                {{currentAcorn}}
            </h1>
        </div>
    </div>

    <div class="row col-sm-12">
        <div class="col-sm-2">
            <div class="panel panel-default panel-acorn">
                <div class="panel-heading">
                    <div>
                    <span class="panel-title">
                        see it
                    </span>
                    <span class="pull-right glyphicon glyphicon-hand-right"></span>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-acorn">
                <div class="panel-heading">
                    <span class="panel-title">
                        save
                    </span>
                    <span class="pull-right glyphicon glyphicon-floppy-disk"></span>
                </div>
            </div>
            <div class="panel panel-default panel-acorn">
                <div class="panel-heading">
                    <span class="panel-title">
                        edit
                    </span>
                    <span class="pull-right glyphicon glyphicon-pencil"></span>
                </div>
                <div class="panel-body" id="editAccordion">
                    <accordion close-others="false">
                        <accordion-group is-open="accordionStatus.html">
                            <accordion-heading>
                                HTML
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': accordionStatus.html, 'glyphicon-chevron-right': !accordionStatus.html}"></i>
                            </accordion-heading>
                            <div ng-repeat="file in files | filter:{fileType: 'html'}">
                                <button type="button" class="btn btn-default btn-md" ng-click="selectFile(file)">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{file.fileName}}
                                </button>
                            </div>
                        </accordion-group>
                        <accordion-group is-open="accordionStatus.css">
                            <accordion-heading>
                                CSS
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': accordionStatus.css, 'glyphicon-chevron-right': !accordionStatus.css}"></i>
                            </accordion-heading>
                            <div ng-repeat="file in files | filter:{fileType: 'css'}">
                                <button type="button" class="btn btn-default btn-md" ng-click="selectFile(file)">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{file.fileName}}
                                </button>
                            </div>
                        </accordion-group>
                        <accordion-group is-open="accordionStatus.js">
                            <accordion-heading>
                                JavaScript
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': accordionStatus.js, 'glyphicon-chevron-right': !accordionStatus.js}"></i>
                            </accordion-heading>
                            <div ng-repeat="file in files | filter:{fileType: 'js'}">
                                <button type="button" class="btn btn-default btn-md" ng-click="selectFile(file)">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{file.fileName}}
                                </button>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default" ng-if="fileType === 'js'">
                <div class="panel-heading" style="background-color: #00F6FF;">JavaScript</div>
                <div class="panel-body">
                    <div ui-ace="{
                                    mode:'javascript',
                                    useWrapMode: true
                                }"
                         ng-model="code" class="ace-editor"></div>
                </div>
            </div>

            <div class="panel panel-default" ng-if="fileType === 'html'">
                <div class="panel-heading" style="background-color: #CC2614;">HTML</div>
                <div class="panel-body">
                    <div ui-ace="{
                                mode:'html',
                                useWrapMode: true
                            }"
                         ng-model="fileText" class="ace-editor"></div>
                </div>
            </div>

            <div class="panel panel-default" ng-if="fileType === 'css'">
                <div class="panel-heading" style="background-color: #FF6E40;">CSS</div>

                <div class="panel-body">
                    <div ui-ace="{
                                mode:'css',
                                useWrapMode: true
                            }"
                         ng-model="fileText" class="ace-editor"></div>
                </div>
            </div>
        </div>
    </div>
</div>